

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/html">
  <head>
    <title>Lego pasaulis</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
    .w3-sidebar a {font-family: "Roboto", sans-serif}
    body,h1,h2,h3,h4,h5,h6,.w3-wide {font-family: "Montserrat", sans-serif;}
    </style>
  </head>
    <header class="w3-container w3-xlarge w3-padding-15">
      <p class="w3-left"><b>LEGO PASAULIS</b></p>
    <p class="w3-right">
    </p>
  </header>
<body class="w3-content" style="max-width:1300px">


  <div class="container-fluid">
    <ul class="navbar-nav">
          <form action="{% url 'search' %}" method="get" class="form-inline my-2 my-md-0">
          <input name="query" class="form-control" type="text" placeholder="Paieška">
          </form>

     {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="#">
              <svg class="bi bi-person" width="1.5em" height="1.5em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M13 14s1 0 1-1-1-4-6-4-6 3-6 4 1 1 1 1h10zm-9.995-.944v-.002.002zM3.022 13h9.956a.274.274 0 00.014-.002l.008-.002c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664a1.05 1.05 0 00.022.004zm9.974.056v-.002.002zM8 7a2 2 0 100-4 2 2 0 000 4zm3-2a3 3 0 11-6 0 3 3 0 016 0z" clip-rule="evenodd"/>
              </svg>
            {{ user.get_username }}</a></li>
            <a href="{% url 'profilis' %}" class="w3-bar-item w3-button">Mano profilis</a></li>
            <a href="{% url 'manouzsakymai' %}" class="w3-bar-item w3-button">Mano uzsakymai</a>
            <a href="{% url 'manonaujiuzsakymai' %}" class="w3-bar-item w3-button">Naujas uzsakymas</a></li>
            <a href="{% url 'logout' %}" class="w3-bar-item w3-button">Atsijungti</a></li>
          {% else %}
              <div class="w3-padding-64 w3-large w3-text-grey" style="font-weight:bold">
                <a href="{% url 'login' %}" class="w3-bar-item w3-button">Prisijungti</a>
                <a href="{% url 'registracija'%}" class="w3-bar-item w3-button">Registruotis</a>
          {% endif %}
<div class="row">

      </div>
      <div class="col-sm-10 ">{% block content %}{% endblock %}</div>
    </div>
  </div>
<header class="w3-bar w3-top w3-hide-large w3-black w3-xlarge">
  <div class="w3-bar-item w3-padding-24 w3-wide">Lego</div>
  <a href="javascript:void(0)" class="w3-bar-item w3-button w3-padding-24 w3-right" onclick="w3_open()"><i class="fa fa-bars"></i></a>
</header>
      <div class="w3-display-container w3-container">
    <img src="https://wallpapercave.com/wp/wp1883623.jpg" alt="Lego" style="width:100%">
    <div class="w3-display-topleft w3-text-white" style="padding:24px 48px">
      <h1 class="w3-jumbo w3-hide-small">Naujienos</h1>
      <h1 class="w3-hide-large w3-hide-medium">Naujienos</h1>
      <p><a href="{% url 'preke_list' %}" class="w3-button w3-black w3-padding-large w3-large">Apsipirkti</a></p>
    </div>
  </div>
      <div class="w3-container w3-text-grey" id="lego">
</html>
