
{% load static %}
{% block content %}
<head>
 <title>Prekiu sarasas</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <style>
    .w3-sidebar a {font-family: "Roboto", sans-serif}
    body,h1,h2,h3,h4,h5,h6,.w3-wide {font-family: "Montserrat", sans-serif;}
    </style>
  </head>

<body>

<div class="w3-container w3-yellow">
<h1>LEGO PASAULIS</h1>
</div>
    <div class="container">
    <div class="row">
        {% for preke in preke_list %}
        <div class="col-lg-4">
            <img src="{{ preke.nuotrauka.url }}" style="width:10%;min-height:20px">
            <div class="box-element product">
                <h6><strong>{{ preke.pavadinimas}}</strong></h6>
                <hr>
                <a class="w3-button w3-black w3-padding-large w3-small" href="#">Pridėti į krepšelį</a>

                <a class="w3-button w3-black w3-padding-large w3-small" href="{{ preke.id }}">Peržiūrėti</a>
                <h4 style="display: inline-block;float: center">{{ preke.kaina }}<span class="glyphicon glyphicon-eur"></span></h4>
            </div>
        </div>
        {% endfor %}
    </div>
    </div>
</body>
{% endblock content %}

