{% load crispy_forms_tags %}
{% block content %}
<head>
 <title>Mano paskyra</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
    .w3-sidebar a {font-family: "Roboto", sans-serif}
    body,h1,h2,h3,h4,h5,h6,.w3-wide {font-family: "Montserrat", sans-serif;}
    </style>
  </head>
<body class="w3-content" style="max-width:1700px">
  <div class="w3-container w3-yellow w3-padding-32">
    <i onclick="w3_close()" class="fa fa-remove w3-hide-large w3-button w3-display-topright"></i>
    <h3 class="w3-wide"><b>LEGO PASAULIS</b></h3>
  </div>
  <a href="{% url 'logout' %}?next=/eshop" class="w3-bar-item w3-button">Atsijungti</a></li>
  <a href="{% url 'index' %}" class="w3-bar-item w3-button">Pagrindinis </a></li>
{% for uzsakymas in uzsakymai %}
<hr>
<p><a class="{% if uzsakymas.ar_baigesi_terminas %}text-danger{% endif %}" href="{% url 'uzsakymas' uzsakymas.pk %}">{{ uzsakymas }}</a></p>
{% endfor %}
 <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; pirmas</a>
            <a href="?page={{ page_obj.previous_page_number }}">atgal</a>
        {% endif %}

        <span class="current">
            {{ page_obj.number }} iš {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">pirmyn</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">paskutinis &raquo;</a>
        {% endif %}

    </span>
</div>
{% endblock %}
